- page_title!('Editando team')

#region-teams.container

  .region
    .region-title
      %h1
        Editando
        %b
          team

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @team, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
