- page_title!('Editando faq')

#region-faqs.container

  .region
    .region-title.page-header
      %h1
        Editando
        %b
          faq

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @faq, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
