- page_title!('Creando customer')

#region-customers.container

  .region
    .region-title.page-header
      %h1
        Creando
        %b
          customer

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
