- page_title!('Editando contact')

#region-contacts.container

  .region
    .region-title.page-header
      %h1
        Editando
        %b
          contact

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @contact, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
