- page_title!('Creando Page Option')

#region-page_options.container

  .region
    .region-title.page-header
      %h1
        Creando
        %b
          Page Option

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
