- page_title!('Creando page_option')

#region-page_options.container

  .region
    .region-title
      %h1
        Creando
        %b
          page_option

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
